    path {
    	stroke-linejoin: round;
    }

    line {
    	stroke: #555;
    	stroke-width: 2px;
    }

    .background {
    	fill: none;
    	pointer-events: all;
    }

    .turbinerect {
    	fill: #2394AE;
    }
    .image {

    }

    #regions {
    	fill: #2394AE;
    }

    #checkboxDiv {
        position:absolute;
        right: 100px;
        top:100px;
    }

    #regions .active {
    	fill: orange;
    }
    #map {
    	width: 500px;
    	height: 500px;
    }
    #panelDiv {
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #2394AE;
    }
    #turbineInfoModalDialog {
    	width: 1200px;
    }

    input{
    	max-width:40%;
    }

    textarea{
    	max-width:40%;
    }