    path {
    	stroke-linejoin: round;
    }

    line {
    	stroke: #555;
    	stroke-width: 2px;
    }

    .background {
    	fill: none;
    	pointer-events: all;
    }

    .turbinerect {
    	fill: #2394AE;
    }
    .image {

    }

    #regions {
    	fill: #2394AE;
    }

    #checkboxDiv {
        position:absolute;
        right: 100px;
        top:100px;
    }

    #regions .active {
    	fill: orange;
    }
    #map {
    	width: 500px;
    	height: 500px;
    }
    #panelDiv {
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #2394AE;
    }
    #turbineInfoModalDialog {
    	width: 1200px;
    }

    input{
    	max-width:40%;
    }

    textarea{
    	max-width:40%;
    }

    /* SUPPLEMENTAL CSS */

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 4em;
  width: 960px;
}

#body {
  position: relative;
}

footer {
  font-size: small;
  margin-top: 8em;
}

aside {
  font-size: small;
  left: 780px;
  position: absolute;
  width: 180px;
}

a:not(:hover) {
  text-decoration: none;
}

code {
  line-height: 1em;
}

textarea {
  font-size: 100%;
}

.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}

.comment {
  color: #636363;
}

.html .doctype,
.javascript .number {
  color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis {
  font: 10px sans-serif;
}

.axis text {
  -webkit-transition: fill-opacity 250ms linear;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.horizon {
  border-bottom: solid 1px #000;
  overflow: hidden;
  position: relative;
}

.horizon {
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
}

.horizon + .horizon {
  border-top: none;
}

.horizon canvas {
  display: block;
}

.horizon .title,
.horizon .value {
  bottom: 0;
  line-height: 30px;
  margin: 0 6px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  white-space: nowrap;
}

.horizon .title {
  left: 0;
}

.horizon .value {
  right: 0;
}

.line {
  background: #000;
  opacity: .2;
  z-index: 2;
}
path {
    stroke-linejoin: round;
}

line {
    stroke: #555;
    stroke-width: 2px;
}

.background {
    fill: none;
    pointer-events: all;
}

.turbinerect {
    fill: rgb(51, 122, 183);
}

#regions {
    fill: rgb(51, 122, 183);
}

#regions .active {
    fill: orange;
}
#map {
    width: 500px;
    height: 500px;
}

#turbineInfoModalDialog {
    width: 1200px;
}

input{
    max-width:40%;
}

textarea{
    max-width:40%;
}

#liveFeedAndLog {
    padding: 0px 40px;
}

.row.vdivide > [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
}